@model EntityLayer.Concrete.Member
@{
	ViewData["Title"] = "AddMember";
	Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("AddMember", "Member", FormMethod.Post))
{
	<div class="form-group" style="margin:15px">
		@Html.Label("Üye Adı")
		@Html.TextBoxFor(m => m.Name, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.Name,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Üye Soyadı")
		@Html.TextBoxFor(m => m.Surname, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.Surname,null, new { @class = "text-danger"})
		<br />
		@Html.Label("E-posta Adresi")
		@Html.TextBoxFor(m => m.Mail, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.Mail,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Kullanıcı Adı")
		@Html.TextBoxFor(m => m.UserName, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.UserName,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Şifre")
		@Html.TextBoxFor(m => m.Password, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.Password,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Fotoğraf Linki")
		@Html.TextBoxFor(m => m.Photograph, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.Photograph,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Telefon")
		@Html.TextBoxFor(m => m.PhoneNumber, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.PhoneNumber,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Okul Adı")
		@Html.TextBoxFor(m => m.School, new {@class="form-control",style="width:300px; margin-bottom:5px;" })
		@Html.ValidationMessageFor(x=> x.School,null, new { @class = "text-danger"})
		<br />
		<button class="btn btn-info" id="Btn1">Üye Ekle</button>
	</div>
}