@model EntityLayer.Concrete.Member
@{
	ViewData["Title"] = "UpdateMember";
	Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateMember", "Member", FormMethod.Post))
{
	<div class="form-group" style="margin-bottom:15px">
		@Html.HiddenFor(m => m.MemberId, new {@class="form-control"})	
		<br />
		@Html.Label("Üye Adı")
		@Html.TextBoxFor(m => m.Name, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.Name,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Üye Soyadı")
		@Html.TextBoxFor(m => m.Surname, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.Surname,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Kullanıcı Adı")
		@Html.TextBoxFor(m => m.UserName, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.UserName,null, new { @class = "text-danger"})
		<br />
		@Html.Label("E-posta Adresi")
		@Html.TextBoxFor(m => m.Mail, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.Mail,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Okul Adı")
		@Html.TextBoxFor(m => m.School, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.School,null, new { @class = "text-danger"})
		<br />
		@Html.Label("Telefon")
		@Html.TextBoxFor(m => m.PhoneNumber, new {@class="form-control"})
		@Html.ValidationMessageFor(m=> m.PhoneNumber,null, new { @class = "text-danger"})
		<br />
	</div>
	<div>
		<button class="btn btn-warning">Güncelle</button>
	</div>
}

