@using EntityLayer.Concrete
@model List<Writer>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Yazarlar</h1>

<table class="table table-bordered">
	<tr>
		<th>ID</th>
		<th>Ad</th>
		<th>Soyad</th>
		<th>Detay</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var w in Model)
	{
		<tr>
			<td>@w.WriterId</td>
			<td>@w.Name</td>
			<td>@w.Surname</td>
			<td>@w.Detail</td>
			<td>
				@Html.ActionLink("Sil","RemoveWriter", new {id=w.WriterId} ,
			new {@class="btn btn-danger", onclick="return confirm('Yazarı silmek istiyor musunuz?')"})
			</td>
			<td><a href="/Writer/UpdateWriter/@w.WriterId" class="btn btn-success">Güncelle</a></td>
		</tr>
	}

</table>
<a href="/Writer/AddWriter" class="btn btn-primary">Yeni Yazar Ekle</a>
<br />
<br />
