@using EntityLayer.Concrete
@model List<Book>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Kitap Sayfası</h1>

@using (Html.BeginForm("Index", "Book", FormMethod.Get))
{
	<div style="margin-bottom:15px; margin-top:15px;">
		<b>Aranacak kitap adını giriniz: &nbsp;</b> @Html.TextBox("p")
		<input type="submit" value="Ara" />
	</div>
}

<table class="table table-striped" style="margin-bottom:15px; margin-top:15px;">
	<tr style="background-color:rgb(252,178,22)">
		<th>ID</th>
		<th>Kitap Adı</th>
		<th>Kitap Yazarı</th>
		<th>Kategorisi</th>
		<th>Basım Yılı</th>
		<th>Yayın Evi</th>
		<th>Sayfa Sayısı</th>
		<th>Sil</th>
		<th>Güncelle</th>
	</tr>
	@foreach (var b in Model)
	{
		<tr>
			<td>@b.BookId</td>
			<td>@b.Name</td>
			<td>@b.Writer.Name @b.Writer.Surname</td>
			<td>@b.Category.Name</td>
			<td>@b.YearOfPublication</td>
			<td>@b.Publisher.Name</td>
			<td>@b.Page</td>
			<td><a href="/Book/RemoveBook/@b.BookId" class="btn btn-danger ">Sil</a></td>
			<td><a href="/Book/UpdateBook/@b.BookId" class="btn btn-success">Güncelle</a></td>
		</tr>
	}

</table>
<a href="/Book/AddBook" class="btn btn-primary">Yeni Kitap Ekle</a>
<br />
<br />