@using EntityLayer.Concrete
@model List<BookTransaction>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Ödünç Kitap Listesi</h1>

<table class="table table-bordered" style="margin-bottom:15px; margin-top:15px;">
	<tr>
		<th>İşlem ID</th>
		<th>Kitap Adı</th>
		<th>Üye</th>
		<th>Personel</th>
		<th>Alış Tarihi</th>
		<th>İade Tarihi</th>
		<th>İade Al</th>
	</tr>
	@foreach (var b in Model)
	{
		<tr>
			<td>@b.BookTransactionId</td>
			<td>@b.Book.Name</td>
			<td>@b.Member.Name @b.Member.Surname</td>
			<td>@b.Staff.Name</td>
			<td>@b.IssueDate.ToShortDateString()</td>
			<td>@b.ReturnDate?.ToShortDateString()</td>
			<td><a href="/BookTransaction/BookReturn/@b.BookTransactionId" class="btn btn-default" style="background-color:orange">Kitabı İade Et</a></td>
		</tr>
	}
</table>
<br />
<br />