@using EntityLayer.Concrete
@model List<BookTransaction>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>İadesi Alınan Kitap Listesi</h1>

<table class="table table-bordered" style="margin-bottom:15px; margin-top:15px;">
	<tr>
		<th>İşlem ID</th>
		<th>Kitap Adı</th>
		<th>Üye</th>
		<th>Personel</th>
		<th>Alış Tarihi</th>
		<th>Üye İade Tarihi</th>

	</tr>
	@foreach (var b in Model)
	{
		<tr>
			<td>@b.BookTransactionId</td>
			<td>@b.Book.Name</td>
			<td>@b.Member.Name @b.Member.Surname</td>
			<td>@b.Staff.Name</td>
			<td>@b.IssueDate.ToShortDateString()</td>
			<td>@b.MemberReturnDate?.ToShortDateString()</td>
		</tr> 
	}
</table>
<br />
<br />

