@using EntityLayer.DTOs
@model List<TransactionHistoryModel>

@{
    ViewData["Title"] = "Transactions";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Teslim Alınan Kitap Listesi</h1>

<table class="table table-striped" style="margin-bottom:15px; margin-top:15px;">
	<tr style="background-color:rgb(252,178,22)">
		<th>İşlem ID</th>
		<th>Kitap Adı</th>
		<th>Üye</th>
		<th>Personel</th>
		<th>Alış Tarihi</th>
		<th>Üye İade Tarihi</th>
		<th>Ceza Tutarı</th>

	</tr>
	@foreach (var b in Model)
	{
		<tr>
			<td>@b.BookTransactionId</td>
			<td>@b.BookName</td>
			<td>@b.MemberName,</td>
			<td>@b.StaffName</td>
			<td>@b.IssueDate.ToShortDateString()</td>
			<td>@b.MemberReturnDate?.ToShortDateString()</td>
			<td>@b.Money ₺</td>
		</tr> 
	}
</table>
<br />
<br />

